<h1>reactiveform</h1>
<form [formGroup]="productForm">
  <input type="text" formControlName="name" placeholder="Name">
  <input type="text" formControlName="code" placeholder="Code">
  <input type="text" formControlName="weight" placeholder="Weight">
  <mat-radio-group formControlName="dangerouse">
    <mat-radio-button value="Yes" >Yes</mat-radio-button>
    <mat-radio-button value="NO">No</mat-radio-button>
  </mat-radio-group>
  <mat-form-field appearance="fill">
    <mat-label>STATUS</mat-label>
    <mat-select formControlName='status'>
      <mat-option *ngFor="let food of foods" [value]="food.value">
        {{food.viewValue}}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <button (click)="onSubmit()">submit</button>
</form>